In [1]:
# Import libraries
import numpy as np;
import pandas as pd;
import matplotlib.pyplot as plt;
import seaborn as sns;

In [2]:
# Import data from excel files
df1 = pd.read_excel('Formative Assessment - I_class_VIII.xlsx');
# Update all values of Exam Name to FA-I
df1['Exam Name'] = 'FA-I';

df2 = pd.read_excel('Formative Assessment -II_class_VIII.xlsx');
# Update all values of Exam Name to FA-II
df2['Exam Name'] = 'FA-II';

df3 = pd.read_excel('Half Yearly Exam -2024_class_VIII.xlsx');
# Update all values of Exam Name to HY
df3['Exam Name'] = 'HY';

# In df3, where the Full Mark is not 100, multuply the Full Mark, Pass Mark and Marks Secured by 100/Full Mark
df3.loc[df3['Full Mark']!=100, 'Pass Mark'] = df3['Pass Mark']*100/df3['Full Mark'];
df3.loc[df3['Full Mark']!=100, 'Marks Secured'] = df3['Marks Secured']*100/df3['Full Mark'];
df3.loc[df3['Full Mark']!=100, 'Full Mark'] = df3['Full Mark']*100/df3['Full Mark'];

# Merge the dataframes
df = pd.concat([df1, df2, df3], ignore_index=True);

# print the head
# df

In [3]:
# Define student names
names = ["Rasmita Boro", "Gitartha Patgiri", "Pranil Chetry", "Kriti Chetri", "Swapna Barman", "Koyel Biswas", "Rajdeep Tumung", "Jayshree Deka", "Niyor Teron", "Karan Rahang", "Prantik Das", "Gaurav Brahma", "Dhritojit Boro"]

keep_students = False;

# If keep_students is True, keep only the students in the names list. Otherwise, remove the students in the names list
if keep_students:
    df = df[df['Student Name'].isin(names)];
else:
    df = df[~df['Student Name'].isin(names)];

# Define subjects for removal
subjects = ['Assamese', 'Assamese Grammar']
df = df[~df['Subject Name'].isin(subjects)];


df

,Academic session,Exam Name,Exam Mode,Subject Name,Subject Status,Full Mark,Pass Mark,Negative Percentage,Student Name,Class,Section,Roll No,Marks Secured,Result
0,2024-2025,FA-I,Offline,English I,Evaluating,25,7,0 %,Riwaj Sharma,VIII,A,1,23.0,Pass
1,2024-2025,FA-I,Offline,English II,Evaluating,25,7,0 %,Riwaj Sharma,VIII,A,1,0.0,Fail
3,2024-2025,FA-I,Offline,Hindi,Evaluating,25,7,0 %,Riwaj Sharma,VIII,A,1,0.0,Fail
4,2024-2025,FA-I,Offline,Maths,Evaluating,25,7,0 %,Riwaj Sharma,VIII,A,1,19.0,Pass
5,2024-2025,FA-I,Offline,Science,Evaluating,25,7,0 %,Riwaj Sharma,VIII,A,1,20.5,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,2024-2025,HY,Offline,Science,Evaluating,100,30,0 %,Nakul Sha,VIII,A,31,12.5,Fail
886,2024-2025,HY,Offline,Social Science,Evaluating,100,30,0 %,Nakul Sha,VIII,A,31,2.5,Fail
887,2024-2025,HY,Offline,Computer,Evaluating,100,30,0 %,Nakul Sha,VIII,A,31,6.0,Fail
888,2024-2025,HY,Offline,Hindi Grammar,Evaluating,100,30,0 %,Nakul Sha,VIII,A,31,2.0,Fail
889,2024-2025,HY,Offline,Essay,Evaluating,100,30,0 %,Nakul Sha,VIII,A,31,30.0,Pass

In [4]:
# Print the number of cells with value 0 in marks secured column
print('Number of cells with value 0 in marks secured column: ', df[df['Marks Secured']==0].shape[0])

# Print the student names with value 0 in marks secured column
print('Student names with value 0 in marks secured column: ', df[df['Marks Secured']==0]['Student Name'].unique())

Number of cells with value 0 in marks secured column:  24
Student names with value 0 in marks secured column:  ['Riwaj Sharma' 'Pranil chetry' 'Jason Manta' 'Priya kumari Singh'
 'Priyangi Tumung' 'Prakesh Das']

In [5]:
# Get all the Subject names
subjects = df['Subject Name'].unique();

# Get all the students
students = df['Student Name'].unique();

# Get all the Exam names
exams = df['Exam Name'].unique();

In [6]:
# print the number of subjects
print('Number of Subjects: ', len(subjects)); 
# Print the subjects
print('Subjects: ', subjects);
# print the number of students
print('Number of Students: ', len(students));
# Print the students
print('Students: ', students);
# print the number of exams
print('Number of Exams: ', len(exams));
# Print the exams
print('Exams: ', exams);

Number of Subjects:  9
Subjects:  ['English I' 'English II' 'Hindi' 'Maths' 'Science' 'Social Science'
 'Computer' 'Hindi Grammar' 'Essay']
Number of Students:  19
Students:  ['Riwaj Sharma' 'Pratik Chetry' 'Abhay Das' 'Pranil chetry' 'Manoj Barman'
 'Manab Basumatary' 'Ayushi Sharma' 'Sumit Sarma' 'Sumit Chetry'
 'Prateek Das' 'Jason Manta' 'Jyotirani Deka' 'Priyangi Tumung'
 'Prakesh Das' 'Priya kumari Singh' 'Anuj Sharma' 'Moumeeta Dey'
 'Shivam Kumar Nayak' 'Nakul Sha']
Number of Exams:  3
Exams:  ['FA-I' 'FA-II' 'HY']

In [7]:
# Create a new dataframe for students data
df_new = pd.DataFrame(students, columns=['Student Name']);

# Loop through all the students
for student in students:
    # Find the first row of the student in the dataframe
    row = df.loc[df['Student Name'] == student].iloc[0];
    # Add the Class, Section, Roll No to the new dataframe
    df_new.loc[df_new['Student Name'] == student, 'Class'] = row['Class'];
    df_new.loc[df_new['Student Name'] == student, 'Section'] = row['Section'];
    df_new.loc[df_new['Student Name'] == student, 'Roll No'] = row['Roll No'];

# df_new.head()

In [8]:
# Add columns for each exam and subject
for exam in exams:
    for subject in subjects:
        df_new[exam + '_' + subject] = 0;
        df_new[exam + '_' + subject + '_total'] = 0;
        df_new[exam + '_' + subject + '_pass'] = 0;

# df_new

In [9]:
# Add marks to the new dataframe
for student in students:
    for exam in exams:
        for subject in subjects:
            # check if the subject is present in the exam
            if df.loc[(df['Exam Name'] == exam) & (df['Subject Name'] == subject)].empty:
                continue;
            
            # full marks
            full_mark = df.loc[(df['Exam Name'] == exam) & (df['Subject Name'] == subject), 'Full Mark'].iloc[0];
            
            # pass marks
            pass_mark = df.loc[(df['Exam Name'] == exam) & (df['Subject Name'] == subject), 'Pass Mark'].iloc[0];
            # Check if the row of the student esist in the dataframe
            if df.loc[(df['Student Name'] == student) & (df['Exam Name'] == exam) & (df['Subject Name'] == subject)].empty:
                # If it doesn't exist, add 0 to the new dataframe
                df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = 0;
                df_new.loc[df_new['Student Name'] == student, exam + '_' + subject + '_total'] = full_mark;
                df_new.loc[df_new['Student Name'] == student, exam + '_' + subject + '_pass'] = pass_mark;
            else:
                # If it exists, get the row
                row = df.loc[(df['Student Name'] == student) & (df['Exam Name'] == exam) & (df['Subject Name'] == subject)].iloc[0];
                # Add the marks to the new dataframe
                df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
                df_new.loc[df_new['Student Name'] == student, exam + '_' + subject + '_total'] = full_mark;
                df_new.loc[df_new['Student Name'] == student, exam + '_' + subject + '_pass'] = pass_mark;
# df_new

/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '20.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '22.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '20.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '83.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '18.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '17.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '19.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '12.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '19.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '11.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '14.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '14.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '76.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '13.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];
/tmp/ipykernel_5577/2302193649.py:24: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '19.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_new.loc[df_new['Student Name'] == student, exam + '_' + subject] = row['Marks Secured'];

In [10]:
# Add weightage column for each subject
for subject in subjects:
    df_new['Weightage ' + subject] = np.nan;

# df_new.head()

In [11]:
# Calculate the weightage for each subject by taking the 40% from FA1, 40% from FA2 and 80% from Half Yearly
for subject in subjects:
    # If the subject is not present in FA1, FA2
    if df_new['FA-I_' + subject].sum() == 0 or df_new['FA-II_' + subject].sum() == 0:
        # Calculate the weightage for each subject by taking the 100% from Half Yearly
        df_new['Weightage ' + subject] = round(df_new['HY_' + subject] * 1, 2);
        # Calculate the full weightage for each subject by taking the 100% from Half Yearly
        df_new['Weightage ' + subject + ' total'] = df_new['HY_' + subject + '_total'] * 1;
    else:
        df_new['Weightage ' + subject] = round(df_new['FA-I_' + subject] * 0.4 + df_new['FA-II_' + subject] * 0.4 + df_new['HY_' + subject] * 0.8, 2);
        # Calculate the full weightage for each subject by taking the 40% from FA1, 40% from FA2 and 80% from Half Yearly
        df_new['Weightage ' + subject + ' total'] = df_new['FA-I_' + subject + '_total'] * 0.4 + df_new['FA-II_' + subject + '_total'] * 0.4 + df_new['HY_' + subject + '_total'] * 0.8;

/tmp/ipykernel_5577/1129329531.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Weightage ' + subject + ' total'] = df_new['FA-I_' + subject + '_total'] * 0.4 + df_new['FA-II_' + subject + '_total'] * 0.4 + df_new['HY_' + subject + '_total'] * 0.8;
/tmp/ipykernel_5577/1129329531.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Weightage ' + subject + ' total'] = df_new['FA-I_' + subject + '_total'] * 0.4 + df_new['FA-II_' + subject + '_total'] * 0.4 + df_new['HY_' + subject + '_total'] * 0.8;
/tmp/ipykernel_5577/1129329531.py:12: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Weightage ' + subject + ' total'] = df_new['FA-I_' + subject + '_total'] * 0.4 + df_new['FA-II_' + subject + '_total'] * 0.4 + df_new['HY_' + subject + '_total'] * 0.8;

In [12]:
# Calculate the weightage result for each subject, pass if weightage is greater than 30% of the full weightage
for subject in subjects:
    # calculate the weightage result
    df_new['Result ' + subject] = np.where(df_new['Weightage ' + subject] >= df_new['Weightage ' + subject + ' total'] * 0.3, 'Pass', 'Fail');

/tmp/ipykernel_5577/717132809.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Result ' + subject] = np.where(df_new['Weightage ' + subject] >= df_new['Weightage ' + subject + ' total'] * 0.3, 'Pass', 'Fail');
/tmp/ipykernel_5577/717132809.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Result ' + subject] = np.where(df_new['Weightage ' + subject] >= df_new['Weightage ' + subject + ' total'] * 0.3, 'Pass', 'Fail');
/tmp/ipykernel_5577/717132809.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Result ' + subject] = np.where(df_new['Weightage ' + subject] >= df_new['Weightage ' + subject + ' total'] * 0.3, 'Pass', 'Fail');
/tmp/ipykernel_5577/717132809.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Result ' + subject] = np.where(df_new['Weightage ' + subject] >= df_new['Weightage ' + subject + ' total'] * 0.3, 'Pass', 'Fail');
/tmp/ipykernel_5577/717132809.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Result ' + subject] = np.where(df_new['Weightage ' + subject] >= df_new['Weightage ' + subject + ' total'] * 0.3, 'Pass', 'Fail');
/tmp/ipykernel_5577/717132809.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Result ' + subject] = np.where(df_new['Weightage ' + subject] >= df_new['Weightage ' + subject + ' total'] * 0.3, 'Pass', 'Fail');
/tmp/ipykernel_5577/717132809.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Result ' + subject] = np.where(df_new['Weightage ' + subject] >= df_new['Weightage ' + subject + ' total'] * 0.3, 'Pass', 'Fail');
/tmp/ipykernel_5577/717132809.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Result ' + subject] = np.where(df_new['Weightage ' + subject] >= df_new['Weightage ' + subject + ' total'] * 0.3, 'Pass', 'Fail');
/tmp/ipykernel_5577/717132809.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Result ' + subject] = np.where(df_new['Weightage ' + subject] >= df_new['Weightage ' + subject + ' total'] * 0.3, 'Pass', 'Fail');

In [13]:
# Add a total column for the weightage
df_new['Total Weightage'] = 0;

# Calculate the total weightage using a loop of all the subjects
for subject in subjects:
    df_new['Total Weightage'] += df_new['Weightage ' + subject];

# df_new.head()

/tmp/ipykernel_5577/2837791970.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Total Weightage'] = 0;

In [14]:
# Add a result column
df_new['Result'] = '';

# Function to add all weightage subject total
def add_total_weightage(row):
    total = 0;
    for subject in subjects:
        total += row['Weightage ' + subject + ' total'];
    return total;


# Add the total marks column
df_new['Total Marks'] = df_new.apply(add_total_weightage, axis=1);

# Calculate the percentage
df_new['Percentage'] = df_new['Total Weightage'] / df_new['Total Marks'] * 100;

# Pass if total weightage is greater than 30% of total full marks
df_new.loc[df_new['Total Weightage'] >= df_new['Total Marks'] * 0.3, 'Result'] = 'Pass';

# Fail if total weightage is less than 30% of total full marks
df_new.loc[df_new['Total Weightage'] < df_new['Total Marks'] * 0.3, 'Result'] = 'Fail';

/tmp/ipykernel_5577/19931101.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Result'] = '';
/tmp/ipykernel_5577/19931101.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Total Marks'] = df_new.apply(add_total_weightage, axis=1);
/tmp/ipykernel_5577/19931101.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Percentage'] = df_new['Total Weightage'] / df_new['Total Marks'] * 100;

In [15]:
# Calculate the rank
df_new['Rank'] = df_new['Percentage'].rank(ascending=False);

/tmp/ipykernel_5577/1862051056.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_new['Rank'] = df_new['Percentage'].rank(ascending=False);

In [16]:
# Print the first row
# df_new.iloc[0]

In [17]:
# df_new

In [18]:
# Export the dataframe to excel
df_new.to_excel('Result_HY.xlsx', index=False);

In [19]:
# Combine the charts in one figure
# fig, axes = plt.subplots(4, 3, figsize=(20, 30));

# Set the title of the figure
# fig.suptitle('Result Analysis: Class I', fontsize=20);

# for i, subject in enumerate(subjects):
    # sns.countplot(x='Result ' + subject, data=df_new, palette='Set1', order=['Fail', 'Pass'], ax=axes[i // 3, i % 3]);
# plt.show();

In [20]:
import pdfkit
import jinja2
import base64
import os;
if not os.path.exists('results'):
    os.makedirs('results');

In [21]:
# Options
options = {
    'page-size': 'A4',
    'margin-top': '0.25in',
    'margin-right': '0.75in',
    'margin-bottom': '0.25in',
    'margin-left': '0.75in',
}

In [22]:
# Images to base_64
images = {
    'seba_logo' : base64.b64encode(open('./../../seba_logo.png', 'rb').read()).decode(),
    'school_logo' : base64.b64encode(open('./../../school_logo.png', 'rb').read()).decode(),
    'sig_examiner' : base64.b64encode(open('./../../sig_examiner.png', 'rb').read()).decode(),
    'sig_principal' : base64.b64encode(open('./../../sig_principal.png', 'rb').read()).decode(),
};

# Exams dictionary
exams = {
    'FA-I': 'Formative Assessment - I (40%)',
    'FA-II': 'Formative Assessment - II (40%)',
    'HY': 'Half Yearly Exam (80%)',
};

In [23]:
for student in students:
    # Get the student data
    student_data = df_new.loc[df_new['Student Name'] == student].iloc[0];
    # Get the student name
    student_name = student_data['Student Name'];
    # Get the student class
    student_class = student_data['Class'];
    # Get the student section
    student_section = student_data['Section'];
    # Get the student roll no
    student_roll_no = student_data['Roll No'];
    # Get the student total weightage
    student_total_weightage = student_data['Total Weightage'];
    # Get the student total marks
    student_total_marks = student_data['Total Marks'];
    # Get the student percentage
    student_percentage = student_data['Percentage'];
    # Get the student rank
    student_rank = student_data['Rank'];
    # Get the student result
    student_result = student_data['Result'];

    # Get the student data
    student_data = df_new.loc[df_new['Student Name'] == student].iloc[0].to_dict();

    # export the student data to excel
    # pd.DataFrame(student_data, index=[0]).to_excel('results/' + student_name + '_' + str(int(student_roll_no)) + '.xlsx', index=False);

    context = {
        'subjects': subjects,
        'exams': exams,
        'data': student_data,
        'seba_logo': 'data:image/png;base64,' + images['seba_logo'],
        'school_logo': 'data:image/png;base64,' + images['school_logo'],
        'sig_examiner': 'data:image/png;base64,' + images['sig_examiner'],
        'sig_principal': 'data:image/png;base64,' + images['sig_principal'],
    }

    # Create template
    templateLoader = jinja2.FileSystemLoader(searchpath="./../../");
    templateEnv = jinja2.Environment(loader=templateLoader);
    template = templateEnv.get_template("result_template.html");
    # Render the template
    output_text = template.render(context);

    output_file_name = 'results/' + str(int(student_roll_no)) + '_' + student_name + '.pdf';
    # Create pdf
    pdfkit.from_string(output_text, output_file_name, options=options);

In [24]:
# Combile all pdfs into one
import os
from os import listdir
from os.path import isfile, join
from PyPDF2 import PdfMerger

# Get all the pdf files
pdf_files = [f for f in listdir('results') if isfile(join('results', f))]
# Sort the pdf files by name
pdf_files.sort(key=lambda f: int(''.join(filter(str.isdigit, f))));

# remove the result pdf if it exists
if '00_Result_Class_VIII_Hindi.pdf' in pdf_files:
    pdf_files.remove('00_Result_Class_VIII_Hindi.pdf');

# Create a pdf merger
merger = PdfMerger();

# Add all the pdf files to the merger
for pdf in pdf_files:
    merger.append('results/' + pdf);

# Write the merger to a file
merger.write('results/00_Result_Class_VIII_Hindi.pdf');

# Close the merger
merger.close();